.container {
  margin: 5px 0;
}

i {
  vertical-align: middle;
  line-height: 64px;
}

.navbar {
  z-index: 999;
  height: 64px;
  background-color: aliceblue;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  display: flex;
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.navbar.darkMode {
  background-color: #3e3e3e;
}

.navtab {
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 7px aliceblue solid;
  transition: ease-in-out 0.2s;
}

.navtab.darkMode {
  border-bottom: 7px #3e3e3e solid;
}

.navtab.active {
  color: green;
  border-bottom: 7px green solid;
}

.navtab:hover {
  transition: ease-in-out 0.2s;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.row.header {
  top: -1px;
  position: sticky;
  font-family: Raleway;
  justify-content: flex-start;
  background-color: #f3f3f3;
  box-shadow: 0px 2px 5px 0px #7f7c7c85;
}

.row.header > p {
  margin: 5px 0 5px 10%;
}

.row.header > a {
  right: 10%;
  position: absolute;
  line-height: 40px;
}

.row.header > a > i {
  line-height: 41px;
  transition: ease-in-out 0.2s;
}

.row.header > a > i.active {
  color: green;
  transition: ease-in-out 0.2s;
}

.row.header.title {
  background-color: #7b7b7b;
}

.row.header > h4 {
  color: #FFF;
  margin: 1% 5%;
}

.row.header.darkMode {
  color: white;
  background-color: #464646;
  box-shadow: none;
}

.fab {
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 85px;
  width: 64px;
  height: 64px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px #7f7c7c85;
}

.fab > a {
  color: white;
  text-decoration: none;
}

.fab > a > i {
  font-size: larger;
}

.lightCard {
  color: black;
  font-size: 22px;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 25px;
  border-radius: 5px;
  margin: 5px auto;
  padding: 15px 20px;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 2px 0px #7f7c7c85;
  transition: ease-in-out 0.2s;
}

.lightCard.active {
  background-color: green;
  color: white;
}

.column {
  width: 100%;
}

.column.s6 {
  width: 50%;
}

.sidebar {
  width: 10%;
  height: 100%;
}

.message {
  margin: 1em;
}

app-modal {
  z-index: 999;
  visibility:visible;
  top: 5%;
  margin: 1% 5%;
  opacity: 1;
  border-radius: 1%;
  position: absolute;
  width: 80%;
  height: 60vh;
  padding: 5%;
  background-color: #F7F7F7;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
  box-shadow: 0px 3px 10px 0px #7f7c7c85;
}

app-modal.hidden {
  visibility:hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
}

.modal-wrapper > .title {
  font-weight: bold;
}

.modal-wrapper > .action {
  position: absolute;
  bottom: 3%;
  width: 100%;
}

.modal-wrapper > .action > a {
  margin: 0 0 0 5%;
}

.modal-wrapper > .action > a.confirm {
  font-weight: bold;
  color: #26ab26;
}

.modal-overlay {
  z-index: 998;
  visibility:visible;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000d6;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
}

.modal-overlay.hidden {
  visibility:hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
}

.form {
  max-width: 100%;
  margin: 1em;
}

.form .row {
  width: calc(100% - 2em);
}

button {
  opacity: 1;
  border: 1px solid black;
  color: black;
  background-color: white;
  border-radius: 3px;
  height: 35px;
  width: 130px;
  margin: 1em 0 0;
  transition: opacity 0.2s ease-in-out;
}

button.darkMode {
  border: 1px solid white;
  color: white;
  background-color: black;
}

button:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

app-toast {
  z-index: 999;
  opacity: 0;
  color: white;
  left: 0;
  visibility: hidden;
  bottom: 64px;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  background-color: #c3c3c3;
  height: 44px;
  line-height: 44px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}

p.toast {
  margin: 0;
}

app-toast.active {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}

@media only screen and (min-width: 768px){
  .form {
    margin-left: 0;
  }

  .column {
    width: 50%;
  }

  .column.m3 {
    width: 25%!important;
  }

  .container {
    margin: 0 10%;
  }
}
