.container {
  margin: 0;
}

i {
  vertical-align: middle;
  line-height: 64px;
}

.navbar {
  height: 64px;
  background-color: aliceblue;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  display: flex;
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.navtab {
  opacity: 0.2;
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: ease-in-out 0.2s;
}

.navtab.active {
  color: green;
  opacity: 1;
}

.navtab:hover {
  opacity: 1;
  transition: ease-in-out 0.2s;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.row.header {
  font-family: Raleway;
  justify-content: flex-start;
  background-color: #f3f3f3;
  box-shadow: 0px 2px 5px 0px #7f7c7c85;
}

.row.header > p {
  margin: 5px 0 5px 10%;
}

.row.header.title {
  background-color: #7b7b7b;
}

.row.header > h4 {
  color: #FFF;
  margin: 1% 5%;
}

.fab {
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 85px;
  width: 64px;
  height: 64px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px #7f7c7c85;
}

.fab > a {
  color: white;
  text-decoration: none;
}

.fab > a > i {
  font-size: larger;
}

.lightCard {
  font-size: 22px;
  text-align: center;
  display: block;
  width: 80%;
  height: 50px;
  border-radius: 2%;
  margin: 5% auto;
  padding: 3%;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 2px 0px #7f7c7c85;
  transition: ease-in-out 0.2s;
}

.lightCard.active {
  background-color: #7fc90866;
}

.column {
  width: 100%;
}

.column.s6 {
  width: 50%;
}

.sidebar {
  width: 10%;
  height: 100%;
}

modal {
  visibility:visible;
  top: 5%;
  margin: 1% 5%;
  opacity: 1;
  border-radius: 1%;
  position: absolute;
  width: 80%;
  height: 60vh;
  padding: 5%;
  background-color: #F7F7F7;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
  box-shadow: 0px 3px 10px 0px #7f7c7c85;
}

modal.hidden {
  visibility:hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
}

.modal-wrapper > .title {
  font-weight: bold;
}

.modal-wrapper > .action {
  position: absolute;
  bottom: 3%;
  width: 100%;
}

.modal-wrapper > .action > a {
  margin: 0 0 0 5%;
}

.modal-wrapper > .action > a.confirm {
  font-weight: bold;
  color: #26ab26;
}

.modal-overlay {
  visibility:visible;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000a3;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
}

.modal-overlay.hidden {
  visibility:hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
}

.form {
  max-width: 100%;
  margin-top: 1em;
  margin-left: 1em;
}

.form .row {
  width: calc(100% - 2em);
}

@media only screen and (min-width: 768px){
  .form {
    margin-left: 0;
  }

  .column {
    width: 50%;
  }

  .container {
    margin: 0 10%;
  }
}
