<!--The content below is only a placeholder and can be replaced.-->
<div class="row header subheader">
  <p>Devices</p>
  <a (click)="modal.open()"><i [class.active]="filtered" class="material-icons">filter_list</i></a>
</div>
  <div class="container">
    <div *ngIf="loading === true">
      <h3 class="message">Loading...</h3>
    </div>
    <div *ngIf="loading === false" class="row">
      <div class="column m3" *ngFor="let light of lights">
        <div *ngIf="lights">
          <app-switch-button [light]="light" [data]="light.Data"></app-switch-button>
        </div>
      </div>
      <div *ngIf="lights && lights.length === 0 && filtered === true">
        <h5 class="message">No switches found!</h5>
      </div>
      <div *ngIf="error === true">
        <h5 class="message">No switches found, please check your <a routerLink="/settings">settings</a> if your server has been set up correctly.</h5>
      </div>
    </div>
  </div>
  <app-modal title="Filter switches" itemType="switches" #modal></app-modal>
  <app-toast [class.active]="toastActive" message="{{message}}"></app-toast>
