<!--The content below is only a placeholder and can be replaced.-->
<div class="row header">
  <p>Switches</p>
</div>
  <div class="container">
    <div *ngIf="loading === true">
      <h3>Loading...</h3>
    </div>
    <div *ngIf="loading === false" class="row">
      <div class="column s6" *ngFor="let light of lights">
        <div *ngIf="lights">
          <switchButton [light]="light" [data]="light.Data"></switchButton>
        </div>
      </div>
      <div *ngIf="!lights">
        <h5>No switches found, please check your <a routerLink="/settings">settings</a> if your server has been set up correctly.</h5>
      </div>
    </div>
  </div>
