<!--The content below is only a placeholder and can be replaced.-->
<div class="row header">
  <p>Switches</p>
  <a (click)="toggleFavorites()"><i [class.active]="favorites" class="material-icons">filter_list</i></a>
</div>
  <div class="container">
    <div *ngIf="loading === true">
      <h3 class="message">Loading...</h3>
    </div>
    <div *ngIf="loading === false" class="row">
      <div class="column s6 m3" *ngFor="let light of lights">
        <div *ngIf="lights">
          <app-switch-button [light]="light" [data]="light.Data"></app-switch-button>
        </div>
      </div>
      <div *ngIf="lights && lights.length === 0 && favorites === true">
        <h5 class="message">No switches found, add some lights to your favorites to show them here.</h5>
      </div>
      <div *ngIf="error === true">
        <h5 class="message">No switches found, please check your <a routerLink="/settings">settings</a> if your server has been set up correctly.</h5>
      </div>
    </div>
  </div>
  <app-toast [class.active]="toastActive" message="{{favorites === true ? 'Show favorite switches only' : 'Show all switches'}}"></app-toast>
