<div id="{{itemType}}-overlay" class="modal-overlay hidden" (click)="close()"></div>
<div id="{{itemType}}-modal" class="modal-wrapper hidden">
  <div class="modal-title">
    <span>{{title}}</span>
  </div>
  <div class="modal-content">
    <ul class="modal-collection">
      <li *ngIf="itemType === 'switches'" class="collection-item" (click)="filterBy('statusOn')">Status: On / Open</li>
      <li *ngIf="itemType === 'switches'" class="collection-item" (click)="filterBy('statusOff')">Status: Off / Closed</li>
      <li class="collection-item" (click)="filterBy('favorites')">Favorites only</li>
      <li class="collection-item" (click)="filterBy('all')">All {{itemType}}</li>
    </ul>
  </div>
  <div class="modal-action">
    <a (click)="close()">Close</a>
  </div>
</div>
