<div class="modal-wrapper">
  <div class="modal-title">
    <span>{{title}}</span>
  </div>
  <div class="modal-content">
    <p>
      {{content}}
    </p>
    <ul class="modal-collection">
      <li (click)="filterBy('statusOn')">Status: On</li>
      <li (click)="filterBy('statusOff')">Status: Off</li>
      <li (click)="filterBy('favorites')">Favorites only</li>
      <li (click)="filterBy('all')">All {{itemType}}</li>
    </ul>
  </div>
  <div class="modal-action">
    <a (click)="close()">Close</a>
  </div>
</div>
