<!--The content below is only a placeholder and can be replaced.-->
<div class="row header subheader">
  <p>Scenes & groups</p>
  <a (click)="toggleModal()"><i [class.active]="filtered" class="material-icons">filter_list</i></a>
</div>
  <div class="container">
    <div *ngIf="loading === true">
      <h3 class="message">Loading...</h3>
    </div>
    <div *ngIf="loading === false" class="row">
      <div class="column m3" *ngFor="let scene of scenes">
        <div *ngIf="scenes">
          <app-switch-button [light]="scene" [data]="scene.Data"></app-switch-button>
        </div>
      </div>
      <div *ngIf="scenes && scenes.length === 0 && filtered === true">
        <h5 class="message">No scenes found!</h5>
      </div>
      <div *ngIf="error === true">
        <h5 class="message">No scenes found, please check your <a routerLink="/settings">settings</a> if your server has been set up correctly.</h5>
      </div>
    </div>
  </div>
  <div id="scene-overlay" class="modal-overlay hidden" (click)="toggleModal()"></div>
  <app-modal id="scene-modal" class="hidden" title="Filter scenes" itemType="scenes"></app-modal>
  <app-toast [class.active]="toastActive" message="{{message}}"></app-toast>
