<div class="row header title">
  <h4>Settings</h4>
</div>
<div class="row header">
  <p>Server</p>
</div>
<div class="container">
  <div class="form">
    <div class="row">
      <div class="column s6">
        <label for="serverProtocol">Protocol</label><br>
        <label for="serverUrl">Server address</label><br>
        <label for="serverPort">Port</label>
      </div>
      <div class="column s6">
        <select name="serverProtocol" [(ngModel)]="serverProtocolFromDb" #serverProtocol>
          <option value="Http">Http</option>
          <option value="Https">Https</option>
        </select><br>
        <input name="serverUrl" [(ngModel)]="serverUrlFromDb" #serverUrl style="max-width: 125px"><br>
        <input name="serverPort" [(ngModel)]="serverPortFromDb" #serverPort style="max-width: 125px"><br>
      </div>
      <button (click)="onSave(serverProtocol.value, serverUrl.value, serverPort.value)">Save settings</button>
    </div>
  </div>
</div>
