<div class="container">
  <div class="row">
    <div class="column">
      <div class="row header title">
        <h4>Settings</h4>
      </div>
      <label for="serverUrl">Server address</label>
      <input name="serverUrl" [(ngModel)]="serverUrlFromDb" #serverUrl value="http://"><br>
      <label for="serverPort">Port</label>
      <input name="serverPort" [(ngModel)]="serverPortFromDb" #serverPort><br>
      <button (click)="onSave(serverUrl.value, serverPort.value)">Save settings</button>
    </div>
  </div>
</div>
