/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
